<nav class="flex w-full justify-between items-center p-8 h-[4.3rem]">
  <a
  [routerLink] = "'/offers'"
    class=" animate-pulse py-2 px-4 bg-purple-900 rounded-s-none rounded-se-2xl rounded-es-2xl"
  >
    <span class="text-white text-lg font-semibold">MyRh</span>
</a>

 
  
  <p class="hidden sm:block pr-10 text-lg text-gray-700">
    Il y a <span class="font-semibold">675 197</span> Annonces sur le site
  </p>
 

  <div class="lg:hidden flex gap-4">
    <!-- search -->
    <div class="p-1.5 rounded bg-purple-100">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 text-purple-600"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
        />
      </svg>
    </div>
  </div>
</nav>
