<ng-container *ngIf="response; else BadRes">
  <section
    class="min-h-screen bg-gray-100 m-auto flex flex-col items-center justify-center"
  >
    <!-- Verified Account -->
    <ng-container *ngIf="status === 200">
      <div
        class="w-1/3 h-56 bg-white rounded-lg shadow-lg flex flex-col items-center justify-center gap-5"
      >
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-20 h-20 fill-green-500"
            viewBox="0 0 512 512"
          >
            <path
              d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
            />
          </svg>
        </div>
        <div class="text-lg">You Account is Verified</div>
        <a routerLink="/company/auth/login" class="text-purple-600"
          >Log in to account</a
        >
      </div>
    </ng-container>

    <!-- Expired Token -->
    <ng-container *ngIf="status === 400">
      <div
        class="w-1/3 h-56 bg-white rounded-lg shadow-lg flex flex-col items-center justify-center gap-5"
      >
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-20 h-20 fill-red-500"
            viewBox="0 0 512 512"
          >
            <path
              d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"
            />
          </svg>
        </div>
        <div class="text-lg">Expired Token</div>
        <a (click)="sendToken()" class="text-green-600 cursor-pointer"
          >Re-send again</a
        >
      </div>
    </ng-container>

    <!-- Already Enabled -->
    <ng-container *ngIf="status === 500">
      <div
        class="w-1/3 h-56 bg-white rounded-lg shadow-lg flex flex-col items-center justify-center gap-5"
      >
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-20 h-20 fill-purple-700"
            viewBox="0 0 512 512"
          >
            <path
              d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
            />
          </svg>
        </div>
        <div class="text-lg">Your Account is Already verified</div>
        <a routerLink="/company/auth/login" class="text-purple-600"
          >Log in to account</a
        >
      </div>
    </ng-container>
  </section>
</ng-container>
<ng-template #BadRes>
  <div
    class="min-h-screen bg-gray-100 m-auto flex flex-col items-center justify-center"
  >
    Token Not Found
  </div>
</ng-template>
