<div class="start_btn">
  <button class="text-sm text-purple-600" (click)="showWarningPopup()">
    Strat Quiz
  </button>
</div>
<div class="info_box" [ngClass]="showWarning ? 'activeInfo' : ''">
  <div class="info_title">
    <span>Some rules about the quiz</span>
    <div class="info-list">
      <div class="info">
        1. You will have only 15 seconds per each question.
      </div>
      <div class="info">
        2. Once you select your answer, it can't be undone.
      </div>
      <div class="info">3. You can't select any option once time goes off.</div>
      <div class="info">4. You can't exit from the Quiz Once started.</div>
    </div>
    <div class="buttons">
      <button class="quit">Exit Quiz</button>
      <button class="restart" (click)="startQuiz()">Continue</button>
    </div>
  </div>
</div>
<div class="quiz_box" [ngClass]="isQuizStarted ? 'activeQuiz' : ''">
  <header>
    <div class="title">Java Quiz</div>
    <div class="timer">
      <div class="time_left_txt">Time Off</div>
      <div class="time_sec">{{remainingTime}}</div>
    </div>
    <div class="time_line" style="width: 550px"></div>
  </header>
  <section *ngIf="isQuizStarted">
    <div class="que_text">
      <span
        >{{ currentQuestionNo }}.
        {{ questionsList[currentQuestionNo - 1].question }}</span
      >
    </div>
    <div class="option_list">
      <div
        *ngFor="let option of questionsList[currentQuestionNo - 1].answers"
        class="option disabled"
        [ngClass]="option.rightAnswer ? 'correct' : ''"

        onclick="optionSelected(this)"
      >
        <span>{{ option.answer }} bool : {{ option.rightAnswer }}</span>
        <div
          [ngClass]="option.rightAnswer ? 'icon tick' : ''"
        >
          <i class="fas fa-check" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="total_que">
      <span>
        <p>{{ currentQuestionNo }}</p>
        of
        <p>{{ questionsList.length }}</p>
        Questions
      </span>
    </div>
    <button class="next_btn show">Next</button>
  </footer>
</div>

<div class="result_box"></div>
