<section class="container">


  <div class="">
    <form class="mx-auto my-3.5 flex gap-4 w-full">
      <div class="relative flex-1">
        <input type="search" id="default-search"
               class="block w-full p-3 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="Avoir des statistiques des offres d'emploi par candidats ... " required>
      </div>
      <div>
        <select
          (change)="filterJobApplicationsByStatus($event)"
          id="status"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option hidden selected>Choose Status </option>
          <option value="ONLINE">ONLINE</option>
          <option value="OFFLINE">OFFLINE</option>
          <option value="BUSY">BUSY</option>
          <option value="ALL">ALL</option>
        </select>
      </div>
    </form>
    <table
      *ngIf="candidatesOfferInsights.length>0"
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          candidate Id
        </th>
        <th scope="col" class="px-6 py-3">
          candidate Name
        </th>
        <th scope="col" class="px-6 py-3">
          Accepted
        </th>
        <th scope="col" class="px-6 py-3">
          Refused
        </th>
        <th scope="col" class="px-6 py-3">
          Waiting
        </th>
        <th scope="col" class="px-6 py-3">
          status
        </th>
        <th scope="col" class="px-6 py-3">
          view details
        </th>
      </tr>
      </thead>
      <tbody class="">
      <tr
        *ngFor="let candidatesOfferInsight of candidatesOfferInsights"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">

        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          {{ candidatesOfferInsight.jobSeeker_id }}
        </th>
        <td class="px-6 py-4">
            <span class="text-gray-900 whitespace-nowrap dark:text-gray-400">
             {{ candidatesOfferInsight.jobSeeker_name }}
            </span>
        </td>
        <td class="px-6 py-4">
          {{
            candidatesOfferInsight.nb_job_accepted
          }}
        </td>
        <td class="px-6 py-4">
          {{
            candidatesOfferInsight.nb_job_refused
          }}
        </td>
        <td class="px-6 py-4">
          {{
            candidatesOfferInsight.nb_job_waiting
          }}
        </td>
        <td class="px-6 py-4">
          <span [ngClass]="this.userStatusStyle[candidatesOfferInsight.jobSeeker_status]">
          {{
            candidatesOfferInsight.jobSeeker_status
          }}
          </span>
        </td>
        <td class="px-6 py-4">
          <a
            [routerLink]="['company/candidates-offer-insights', candidatesOfferInsight.jobSeeker_id]"
            class="text-blue-600 hover:text-blue-900">view details</a>
        </td>

      </tr>
      </tbody>
    </table>
  </div>

</section>