.animation-notification{
    animation: notification 300ms ease-in-out;
}
@keyframes notification {
    0% {
        transform: translateX(0px);
    }
    25% {
      transform: translateX(20px);
    }
    50% {
        transform: translateX(30px);
    }
    75% {
        transform: translateX(20px);
    }
    100% {
      transform: translateX(0);
    }
}
