

<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
        Job Seeker dashboard
      </span>
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
      
       
        
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
            Notification
            <span *ngIf="newNotification" class="inline-flex items-center justify-center px-2 py-1 ml-2 text-xs font-bold leading-none text-red-100 bg-red-600 rounded-full">New</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div
  *ngIf="newNotification && newNotificationObject"
  class="
    container
   absolute
   animation-notification">
  <a href="#" class="
  ml-auto
  flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <div class="flex flex-col justify-between p-4 leading-normal">

      <h4 class="font-bold ">New Notification </h4>
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        your application has been {{ newNotificationObject.status }}
      </h5>
      <span>
        {{ newNotificationObject.message }}
      </span>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {{newNotificationObject.offer.title}}
      </p>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {{newNotificationObject.offer.company.name}}
      </p>
      <span class="text-sm text-gray-600 dark:text-gray-300">
        {{ newNotificationObject.created_at | date: 'dd/MM/yyyy' }}
      </span>
    </div>
  </a>

</div>


<!--<div>-->
<!--  <div *ngFor="let notification of notifications">-->
<!--    {{ notification | json }}-->
<!--  </div>-->
<!--</div>-->
