<section class="container">
  <div *ngIf="jobApplicants.length">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Offer Title</th>
          <th scope="col" class="px-6 py-3">Applicant Name</th>
          <th scope="col" class="px-6 py-3">Status</th>
          <th scope="col" class="px-6 py-3">Details</th>
          <th scope="col" class="px-6 py-3">Actions</th>
        </tr>
      </thead>
      <tbody class="">
        <tr
          *ngFor="let jobApplicant of jobApplicants"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ jobApplicant.offer.title }}
          </th>
          <td class="px-6 py-4">
            {{ jobApplicant.jobSeeker.first_name }}
          </td>
          <td class="px-6 py-4">
            {{ jobApplicant.status }}
          </td>

          <td class="px-6 py-4">
            <a
              [routerLink]="[
                'company/candidates-offer-insights',
                jobApplicant.JobApplicantId
              ]"
              class="text-blue-600 hover:text-blue-900"
              >View Offer</a
            >
          </td>

          <td class="px-6 py-4">
            <select
              (change)="onApplyStatus(jobApplicant, $event)"
              class="block px-3 py-2 mt-1 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm dark:bg-gray-700 dark:text-white dark:border-gray-700"
            >
              <option
                *ngFor="let status of JobApplicantStatus | keyvalue"
                [selected]="jobApplicant.status === status.key"
                [value]="status.key"
              >
                {{ status.value }}
              </option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
